.me {
  position: relative;
  padding-block: 15rem 8rem;
  background: #fff;

  &-heading {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: "Rancer Display";
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.32rem;
  }

  &-subheading {
    width: 62.5rem;
    color: #000;
    text-align: center;
    font-family: "Rancer Body";
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.072rem;
    text-align: center;
    width: fit-content;
    margin: 1.2rem auto;
  }

  &-input {
    display: flex;
    width: 40rem;
    padding: 2rem;
    align-items: flex-start;
    gap: 1rem;
    border: 0.1rem solid #000;
    margin: 3.2rem auto;
    color: #000;
    font-family: "Rancer Body";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.09rem;
    &:placeholder-shown,
    &::placeholder {
      color: #00000066;
    }
  }
}
