.footer {
  background: #000;

  @include media("<phone") {
    padding: 40px 20px;
  }

  &-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9rem 4rem 5.6rem;

    h2 {
      color: #fff;
      text-align: center;
      font-family: "Rancer Display";
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: -0.16rem;
    }

    a {
      display: flex;
      padding: 1.4rem 1.2rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background: #fff;
      color: #000;
      text-align: center;
      font-family: "Rancer Display";
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.1rem;
    }
  }

  &-websites {
    display: flex;

    li {
      display: flex;
      padding: 4rem;
      align-items: flex-end;
      gap: 1rem;
      flex: 1 0 0;
      align-self: stretch;
      height: 45rem;
    }

    h3 {
      color: #fff;
      font-family: "Rancer Display";
      font-size: 4.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.384rem;
    }
  }

  &-links {
    display: flex;
    gap: 10rem;
    padding: 8rem 4rem 16rem;

    h4 {
      color: #fff;
      font-family: "Rancer Display";
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.1rem;
      margin-bottom: 0.8rem;
    }

    a {
      color: #fff;
      font-family: "Rancer Body";
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.06rem;
      white-space: pre;
    }

    svg {
      width: 62.4rem;
      height: 16.4rem;
      color: #fff;
    }
  }
}
