.loader {
  width: 100vw;
  height: 60svh;
  display: grid;
  place-content: center;

  &-logo {
    width: 32rem;
    color: #000;
    width: calc(11.6rem * 4);
    height: calc(3rem * 4);
    position: relative;
    overflow: hidden;

    svg {
      margin: 0;
      width: 100%;
      height: 100%;
    }

    aside {
      background-color: #fffc;
      backdrop-filter: blur(0.4rem);
      mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-27.5deg);
      width: 20rem;
      height: 20rem;
      animation: loader 1.5s infinite linear forwards;
    }

    @keyframes loader {
      0% {
        left: 0%;
        transform: translate(-100%, -50%) rotate(-27.5deg);
      }
      100% {
        left: 100%;
        transform: translate(0%, -50%) rotate(-27.5deg);
      }
    }
  }
}
