@import "./reset.scss";

$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import "../node_modules/include-media/dist/include-media";

@font-face {
  font-family: "Rancer Display";
  src: url("/fonts/Rance-Display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rancer Body";
  src: url("/fonts/Rancer-Body.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: calc(100vw / 1440 * 10);
  background-color: #000;
  @include media("<phone") {
    font-size: calc(100vw / 430 * 10);
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

[data-desktop] {
  @include media("<phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[data-mobile] {
  @include media(">=phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.page,
.app {
  position: relative;
  width: 100vw;
  overflow: clip;

  &#home {
  }
}

@import "./pages/all";
@import "./pages/me";
@import "./pages/product";

@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/footer.scss";
@import "./components/loader.scss";
@import "./components/recent.scss";
